# Data Types, Variables, Operators, and Expressions in Python

## 1. Data Types

In Python, data types are used to represent the different kinds of values you can work with.

### 1.1 Integers (`int`)
Integers are whole numbers (positive or negative, without decimals).

In [5]:
num_images = 20
num_students = 26
num_variables = 33
dataset_size = 98234
amount_of_money = -70

print(num_images, num_students, num_variables, dataset_size, amount_of_money)

20 26 33 98234 -70

### 1.2 Floating-Point Numbers (`float`)
Floats represent numbers with decimals.

In [6]:
pi = 3.1416
learning_rate = 0.0001
scale_factor = 1.2
probability_of_approval = 0.5
probability_of_approval_after_studying = 0.9
probability_of_approval_after_studying_harder = 0.99

print(pi, learning_rate, scale_factor)

3.1416 0.0001 1.2

#### Bonus:
Floats have useful methods. For example, you can get the numerator and denominator of their representation.

In [7]:
a = 0.5
print(a.as_integer_ratio())  # Output: (1, 2)

(1, 2)

### 1.3 Boolean (`bool`)
Booleans represent truth values: True or False.

In [8]:
life_is_hard = True
you_must_pause_and_think = True
follow_your_instinct = False
follow_data = True
you_already_know_everything = False
you_must_keep_learning = True
money_is_all_that_matters = False
helping_is_showing_answers = False
you_can_pass_without_projects = False
you_can_pass_without_coming_to_class = True

print(life_is_hard, you_must_keep_learning)

True True

### 1.4 Strings (`str`)
Strings are used to represent text.

Python uses UTF-8 encoding by default, so you can use characters with accents and other symbols.

In [12]:
name = "Esteban"
last_name = "Herrera"
dog = "Lul√∫"
years = "5 a√±os"
name_of_course = "Fundamentals of Programming for Data Science"

print(name, last_name, name_of_course)
print(dog, years)

Esteban Herrera Fundamentals of Programming for Data Science
Lul√∫ 5 a√±os

#### `string` data type has a lot of useful methods: 

Check a complete list here: https://www.w3schools.com/python/python_strings_methods.asp

In [26]:
print("learning python is very important!".upper())

print("DON'T SCREAM TO ME".lower())

print("morita".capitalize())

LEARNING PYTHON IS VERY IMPORTANT!
don't scream to me
Morita

In [27]:
print("otolaryngologist".count("go"))

print(("lolololol").count("lo"))

print("Do I start with any string?".startswith("hello"))

print("Dr. Smith".startswith("Dr."))

print("students paying attention: 20%".endswith("%"))

1
4
False
True
True

In [28]:
print("str".isidentifier())

print("333".isdecimal())

print("123".isdigit())

True
True
True

In [29]:
print("FirstName LastName1 LastName2".split(" "))

print("FirstName,LastName1,LastName2".split(","))

print(" I have spaces ")
print((" I have spaces ").strip())

['FirstName', 'LastName1', 'LastName2']
['FirstName', 'LastName1', 'LastName2']
 I have spaces
I have spaces

#### Slicing
You can return a range of characters by using the slice syntax.

In [41]:
s = "Many words"
print(s[3:7])   
print(s[:7])    
print(s[:-7])   
print(s[0],s[1],s[-1],s[-2])

y wo
Many wo
Man
M a s d

In [42]:
letter = 'holiiiiiii'
print(letter[::1])
print(letter[::-1])
print(letter[::2])
print(letter[1:3:1])
print(letter[1:6:2])
print(letter[1::2])

holiiiiiii
iiiiiiiloh
hliii
ol
oii
oiiii

#### String Concatenation
To concatenate, or combine, two strings you can use the + operator.

In [43]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [44]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

#### F-Strings
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.

To specify a string as an f-string, simply put an f in front of the string literal, and add curly brackets {} as placeholders for variables and other operations.

In [47]:
age = 38
name = 'Alexa'
txt = f"My name is {name}, I am {age}"
print(txt)

My name is Alexa, I am 38

In [51]:
txt = f"The price is {20 * 59} dollars"
print(txt)

The price is 1180 dollars

#### Escape Character
To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [52]:
txt = "We are the so-called "Vikings" from the north."

SyntaxError: invalid syntax (7934146.py, line 1)

In [54]:
txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

### Casting
You can convert from one type to another with the int(), float(), string() methods.

In [59]:
x = 1    # int
y = 2.8  # float

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

print(x, y, a, b)
print(type(x),type(y))
print(type(a),type(b))

c = str(y)

print(c, type(c))

d = int("3")
print(d,type(d))

1 2.8 1.0 2
<class 'int'> <class 'float'>
<class 'float'> <class 'int'>
2.8 <class 'str'>
3 <class 'int'>

#### Note: 
There are some invalid conversions

In [61]:
cat = "Trigo"
intcat = int(cat)

ValueError: invalid literal for int() with base 10: 'Trigo'

#### Let's do some exercises with strings! 
https://www.w3schools.com/python/python_strings_exercises.asp

### 1.5 None Type (`NoneType`)
Use `None` to indicate that a variable has no value assigned.

In [62]:
best_student = None
worst_student = None

print(best_student, worst_student)

None None

## 2. Variables.
(We have been using variables all this time!)

Variables let you reference the values your program works with.

A variable is a space in the computer's memory (RAM) that holds a value.

In [63]:
student_name = "Elena"
student_age = 24

print(student_name, student_age)

Elena 24

Variable names are case-sensitive (`This` and `this` are different).

Use `snake_case` for variable names (like_this), following PEP8 style guide (https://peps.python.org/pep-0008/)

Don‚Äôt use reserved words or data type names as variable names: https://www.programiz.com/python-programming/keyword-list

## 3. Operators
Operators let you perform different operations with values.

The behavior of operators depends on the types of values they‚Äôre used with.

There are a lot of operators. We will only check the main ones. See a full list of operators here: https://www.w3schools.com/python/python_operators.asp

### 3.1 Arithmetic Operators

In [65]:
print(3 + 5)    
print(4 * 3)    
print(6 / 3)    
print(7 / 2)    
print(7 // 2)  
print(7 % 2)   
print(2 ** 5)

8
12
2.0
3.5
3
1
32

### 3.2 Comparison Operators

In [67]:
age = 18
print(age == 18, age < 20, age > 30, age <= 12, age >= 18)

True True False False True

### 3.3 Logical Operators

In [66]:
print(True and True, True and False)   
print(True or True, True or False)      
print(not True)                       
print(not False)

True False
True True
False
True

### 3.4 String and List Operators

In [69]:
print("You can repeat strings, " * 3)
print([45,2] * 7)

You can repeat strings, You can repeat strings, You can repeat strings,
[45, 2, 45, 2, 45, 2, 45, 2, 45, 2, 45, 2, 45, 2]

## 4. Expressions 
Expressions are combinations of values, variables, and operators that Python can evaluate to produce a result.

In [70]:
a = 8
b = 3

add = a + b
sub = a - b
mul = a * b
div = a / b
floor_div = a // b
mod = a % b
exp = a ** b

print("Addition:", add)
print("Subtraction:", sub)
print("Multiplication:", mul)
print("Division:", div)
print("Floor division:", floor_div)
print("Modulus:", mod)
print("Exponentiation:", exp)

Addition: 11
Subtraction: 5
Multiplication: 24
Division: 2.6666666666666665
Floor division: 2
Modulus: 2
Exponentiation: 512

In [71]:
greeting = "Hello"
name = "Sara"

message = greeting + ", " + name + "!"
print(message)

laugh = "ha" * 3
print(laugh)

Hello, Sara!
hahaha

In [72]:
x = 10
y = 5

print(x > y)    # True
print(x == y)   # False
print(x != y)   # True

age = 22
has_ticket = True

can_enter = (age >= 18) and has_ticket
print("Can enter the concert?", can_enter)

True
False
True
Can enter the concert? True

In [73]:
length = 6
width = 4
area = length * width
print("Area:", area)

Area: 24

## Homework!! wiii

### Homework Submission Workflow

For all homework assignments, please follow this workflow:

1. **Create a new branch** named `homework_<number>` from the `main` branch in our repository.  
   *Before creating the branch, run `git pull` to make sure your local copy is up to date.*

2. **Create a new Jupyter notebook** in the `Homeworks` folder of the repo.  
   - Name your notebook according to the topic (use the same or a similar name as the assignment notebook).

3. **Solve the assigned exercises** in your new notebook.

4. **Add, commit, and push** your changes to your homework branch.

5. **Create a pull request** from your branch to the `main` branch.

6. **Send me the pull request** for review.

## Python Practice Exercises: Data Types, Variables, Operators, Expressions, Printing

---

#### 1. Create a variable named `city` and assign your favorite city to it. Print it.

Expected output: the name of your favorite city.

---

#### 2. Create two variables, `x` and `y`, assign them integer values, and print their sum, difference, and product.

Example:
x = 7  
y = 5

Expected output:
12  
2  
35

---

#### 3. Assign the value 3.1416 to a variable named `pi`, and print its type using the `type()` function.

Expected output:
<class 'float'>

---

#### 4. Create a boolean variable `is_raining` and set it to False. Print a sentence that uses this variable, e.g., "Is it raining? False"

---

#### 5. Use string concatenation to join the first name and last name of a person (two variables) with a space in between. Print the full name.

Example:
first_name = "Maria"  
last_name = "Gomez"

Expected output:
Maria Gomez

---

#### 6. Write an expression that calculates the remainder when 29 is divided by 5, and print the result.

Expected output:
4

---

#### 7. Print the result of evaluating the expression: (5 + 2) * 3 - 4 / 2

Expected output:
19.0

---

#### 8. Given the variable `age = 21`, use a comparison operator to check if `age` is greater than or equal to 18. Print the result.

Expected output:
True

---

#### 9. Use a string method to make the text "python programming is fun" all uppercase and print the result.

Expected output:
PYTHON PROGRAMMING IS FUN

---

#### 10. Use f-string formatting to print: "There are 12 apples and 8 oranges."

Example:
apples = 12  
oranges = 8

Expected output:
There are 12 apples and 8 oranges.

---

#### 11. Assign the value `None` to a variable called `next_topic`, and print its value and type.

Expected output:
None  
<class 'NoneType'>

---

#### 12. Create a string variable called `course` with the value "Data Science". Use the `.count()` method to count how many times the letter "a" appears, and print the result.

Expected output:
2

---

#### 13. Make a list containing the integer 9 repeated 6 times using the multiplication operator. Print the list.

Expected output:
[9, 9, 9, 9, 9, 9]

---

#### 14. Write an expression that combines boolean values: Check if `10 > 5 and 3 < 1`. Print the result.

Expected output:
False

---

#### 15. Slice the string `"Programming"` to get the substring `"gram"`, and print it.

Expected output:
gram

## Good luck! üöÄ‚ú®